body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #333333;
    padding-bottom: 40px;
}

/* entire page */
.page-container {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
  }
  
  p { 
    padding: 10px 5px;
  }
  
header {
    text-align: center;
    background-color: rgb(6, 6, 78);
    background: linear-gradient(63deg, rgba(0,84,213,1) 0%, rgba(9,9,121,1) 55%, rgba(2,0,46,1) 100%);
    color: white;
    margin-bottom: 12px;
}

header h1 {
    font-weight: bold;
    padding: 14px 20px;
}

.search-col {
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px black solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  input {
    background-color: transparent;
    resize: none;
    border-radius: 3px;
    margin: 10px 0;
    height: 40%;
  }

/* search column styles */
.search-Btn {
    background-color: rgba(33, 130, 241, 0.8);
  color: white;
  height: 60%;
}




